<div class="mt-1 ms-1">
  <h6>💧저수량 현황</h6>
  <div class="mb-2 ms-3 d-flex">
    <div class="form-check ms-1 me-3">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault1"> 공사관리</label>
    </div>
    <div class="form-check ms-1 me-3">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault2"
      />
      <label class="form-check-label" for="flexRadioDefault2"> 지자체</label>
    </div>
    <div class="form-check ms-1 me-3">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault3"
      />
      <label class="form-check-label" for="flexRadioDefault2"> 전체</label>
    </div>
  </div>
  <h6 style="color: red">🤨실시간 계측 저수율로 계측기가 설치된 시설만 제공</h6>
  <canvas id="speedChart" width="400px" height="200px"></canvas>
</div>
