<div class="mt-1 d-flex flex-column">
  <h6>📊저수지 그래프</h6>
  <div id="idChart">
    <div class="d-flex justify-content-between" style="padding: 10px">
      <div>
        <div class="custom-control custom-radio">
          <input class="custom-control-input" name="dsetRadio2" type="radio" id="idSenseType3" checked="" />
          <label class="custom-control-label" for="idSenseType3">실시간</label>
        </div>
        <div class="custom-control custom-radio">
          <input class="custom-control-input" name="dsetRadio2" type="radio" id="idSenseType4" />
          <label class="custom-control-label" for="idSenseType4">날짜별</label>
        </div>
      </div>
      <div>
        <input id="idSenseDate" type="date" class="col form-control form-control-sm" />
      </div>
      <div style="float: right">
        <button class="btn btn-primary" type="button" onclick="updateGraph();">업데이트</button>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="text-center"><h3>수위 (EL.m)</h3></div>
    <br />
    <br />
    <br />
    <div id="idChart-message">
      <canvas id="idChart-sub" width="0" class="chartjs-render-monitor" style="display: block; height: 0px; width: 0px" height="0"></canvas>
    </div>
  </div>
</div>
